:root{
  --primary-color: #ff715b;
  --card-grey: #f8f8f8;
  --primary-text: #7c7c7c;
  --secondary-text: #a79997;
  --default-transition: 0.5s ease-in-out;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

body {
  margin: 0 5rem;
  margin-top: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}